button:not([color-scheme]) {
  background-color: transparent
}

button[color-scheme] {
  background-color: var(--surface2);
}

button {
  color: var(--text1);
  min-height: 1rem;
  min-width: 3rem;
  margin: var(--size-1);
  display: inline-flex;
  white-space: nowrap;
  font-size: var(--font-size-fluid-1);
  font-weight: var(--font-weight-7);
  padding-left: var(--size-7);
  padding-right: var(--size-7);
  padding-top: var(--size-2);
  padding-bottom: var(--size-2);

  border: var(--border-size-2) solid var(--surface3);
  border-radius: var(--radius-5);
  text-align: center;
  justify-content:center;
  /* transition: border-color .5s var(--ease-2) 1s; */
}

button:hover,button:focus {
  border: var(--border-size-2) solid var(--accent);
}

button[aria-pressed="true"],button:focus { 
  border: var(--border-size-2) solid var(--surface4);
}

:where(button,input:is([type=button],[type=submit],[type=reset]))[disabled]{
  --_bg:none;
  --_text:var(--gray-6);
  box-shadow:var(--shadow-1);
  cursor:not-allowed
}

:where(button,input:is([type=button],[type=submit],[type=reset])):where(:not(:active):hover){
  --_highlight-size:var(--size-2);
  transition-delay:0s;
  transition-duration:.25s;
  color:red;
}
:where(button,input:is([type=button],[type=submit],[type=reset]))>:where(svg){
  block-size:var(--_icon-size);
  filter:drop-shadow(var(--_ink-shadow));
  flex-shrink:0;
  inline-size:var(--_icon-size)
}
:where(button,input:is([type=button],[type=submit],[type=reset]))>:where(svg>*){
  stroke:var(--_icon-color);
  stroke-width:var(--border-size-2)
}

