button:not([color-scheme]) {
  background-color: transparent
}

button[color-scheme] {
  background-color: var(--surface1);
}

.button, button {
  color: var(--text1);
  min-height: 1rem;
  min-width: 1rem;
  margin: var(--size-1);
  display: inline-flex;
  white-space: nowrap;
  font-size: var(--font-size-fluid-1);
  font-weight: var(--font-weight-7);

  padding-left: var(--size-6);
  padding-right: var(--size-6);
  padding-top: var(--size-2);
  padding-bottom: var(--size-2);

  border: var(--border-size-2) solid var(--surface3);
  border-radius: var(--radius-5);
  text-align: center;
  justify-content: center;
  align-items: center;
  /* transition: border-color .5s var(--ease-2) 1s; */
}

.button:hover,button:hover,button:focus {
  border: var(--border-size-2) solid var(--surface4);
  text-decoration: none;
}

button[aria-pressed="true"],button:focus {
  border: var(--border-size-2) solid var(--accent);
}

/* :where(button,input:is([type=button],[type=submit],[type=reset]))[disabled]{
  cursor:not-allowed
} */
:where(button,input:is([type=button],[type=submit],[type=reset])):where(:not(:active):hover){
  transition-delay:0s;
  transition-duration:.25s;
}

:where(button,input:is([type=button],[type=submit],[type=reset]))>:where(svg) {
  /*block-size: var(--_icon-size);
  inline-size:var(--_icon-size)*/
}
:where(button,input:is([type=button],[type=submit],[type=reset]))>:where(svg>*) {
  /*stroke:var(--_icon-color);
  stroke-width:var(--border-size-2)*/
}

