.page-header {
  position: relative;
  margin-bottom: var(--size-2);
}

.page-header__content {
  position: absolute;
  bottom: 5rem;
  left: 2rem;
  max-width: 50%;
  z-index: 1;
}

.page-header__content * {
  font-size: var(--font-size-fluid-2);
  margin-bottom: var(--size-2);
  /* backdrop-filter: blur(15px); */
  background: var(--surface0);
  padding: var(--size-fluid-1);
}

.page-header__content p {
  font-size: var(--font-size-2);
}

.page-header img {
  width: 100%;
  filter: brightness(90%);
  z-index: 0;
}

@media screen and (max-width: 768px) {
  .page-header__content {
    max-width: 100%;
    bottom: 2rem;
  }
}
