.article * {
    box-sizing: border-box;
}

.article {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}


.article-title-mobile {
  display: none;
}
.article-title-mobile h1 {
  word-break: break-word;
  padding: var(--size-fluid-1);
  font-size: var(--font-size-4);
}

.article-header {
  position: relative;
  border-radius: var(--radius-2);
}

.article-header h1 {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: var(--text1);
  font-size: var(--font-size-fluid-2);
  background-color: var(--surface0);
  max-width: 80%;
  padding: var(--size-2);
  color: var(--text2);
}

.article-header img {
  width: 100%;
  max-width: 1782px;
}

.article-content,
.article-contact,
.article-title-mobile {
  margin-top: 1rem;
  border-radius: var(--radius-2);
  background: var(--surface2);
 
}

.article-content {
  max-width: 100%;
  box-sizing: border-box;
  /* font-size: var(--font-size-1); */
  padding: var(--size-fluid-2);
}

.article-content p {
  margin: 1rem 0;
}

.article-content em {
  overflow-wrap: break-word;
}

.article-content p:first-child {
  margin-top: 0;
}

.article-content p:last-child {
  margin-bottom: 0;
}

.article-content figure {
  display: flex;
  justify-content: center;
}

.article-contact {
  display: flex;
}

.article-contact .left-section {
  width: 40%;
  padding-left: var(--size-4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: var(--size-fluid-2);
}

.article-contact .right-section {
  flex: 1;
}

.article-contact .name-and-title {
  padding-bottom: var(--size-2);
}

.article-contact .contact-info {
  padding-top: var(--size-2);
}

.article-contact .name-and-title,
.article-contact .contact-info {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

@media screen and (max-width: 768px) {
  .article-contact {
    flex-direction: column;
  }

  .article-contact .left-section,
  .article-contact .right-section {
    flex: 1;
  }

  .article-contact .left-section {
    padding: var(--size-fluid-2);
  }

  .article-header h1 {
    display: none;
  }

  .article-title-mobile {
    display: block;
    background-color: var(--surface0);
    color: var(--text2);
  }
}
