[color-scheme="light"] {
  color-scheme: light;
  --text1: hsl(var(--brand-hue) var(--brand-saturation) 10%);
  --text2: hsl(var(--brand-hue) var(--brand-saturation) 30%);
  --surface0: hsl(var(--brand-hue) 20% 99%);
  --surface1: hsl(var(--brand-hue) 20% 99%);
  --surface2: hsl(var(--brand-hue) calc(var(--brand-saturation)*1) calc(var(--brand-lightness)*5.7));
  --surface3: hsl(var(--brand-hue) 20% 92%);
  --surface4: hsl(var(--brand-hue) 20% 90%);
  --surface-shadow: var(--brand-hue) 10% 20%;
  --shadow-strength: .02;
  --link: hsl(201, 40%, 35%);

  --logo-blue: hsl(206, 100%, 29%);
  --logo-green: hsl(185, 100%, 35%);
  --logo-wave-1: hsl(206, 100%, 29%);
  --logo-wave-0: hsl(185, 100%, 35%);
  --accent: hsl(181, 46%, 42%);
  --error: red;
}

[color-scheme="blue"],:root:not([color-scheme]) {
  color-scheme: light;
  --text1: hsl(var(--brand-hue) calc(var(--brand-saturation)/1.5) 85%);
  --text2: hsl(var(--brand-hue) calc(var(--brand-saturation)/1.6) 99%);
  --surface0: hsl(var(--brand-hue) var(--brand-saturation) calc(var(--brand-lightness)/1.5));  
  --surface1: hsl(var(--brand-hue) var(--brand-saturation) calc(var(--brand-lightness)/1.0));  
  --surface2: hsl(var(--brand-hue) var(--brand-saturation) calc(var(--brand-lightness)/0.9));
  --surface3: hsl(200, 40%, 26%);
  --surface4: hsl(200, 40%, 33%);

  --surface-shadow: var(--brand-hue) 30% 13%;
  --shadow-strength: .2;
  --link: hsl(182, 49%, 56%);
  --accent: hsl(200deg 55.64% 46.04%);
  --accent2: hsl(197deg 100% 51%);
  --logo-wave-1: hsl(206, 100%, 29%);
  --logo-wave-0: hsl(185, 100%, 35%);
  --error: red;
}
