.mini-news {
  padding: 0 !important;
  position: relative;
  margin-top: 0;
}

.mini-news:first-of-type {
  border-top-left-radius: 0;
}

/* .mini-news::before {
  content: " ";
  display: block;
  position: absolute;
  width: 10px;
  height: 100%;
  left: -5px;
  background: var(--accent);
} */

.mini-news:first-of-type::before {
  display: none;
}

.mini-news a {
  display: flex;
  color: var(--text2);
  font-size: var(--font-size-0);
}

.mini-news a img {
  width: 100px;
  height: 100px;
}

.mini-news a span {
  width: 18rem;
  padding: var(--size-2);
}

.mini-news-link {
  width: 100px;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  background: var(--accent);
  flex-shrink: 0;
}
.line-clamp3 {
  line-clamp: 3;
  overflow: hidden;
 }
