:root {
  --font-sans: "Roboto Flex",Roboto,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --brand-hue: 200;
  --brand-saturation: 66%;
  --brand-lightness: 17%;
  --logo-blue: #fff;
  --logo-green: #fff;
  --accent: hsl(182, 49%, 56%);

}

a {
  color: var(--link);
}

/* a:hover {
  text-decoration: underline;
} */

html, body {
  color-scheme: light dark; 
  width: 100vw;
  height: 100vh;
  background: var(--surface1);
  color: var(--text1);
  font-family: var(--font-sans);
  font-size: var(--font-size-fluid-1);
  margin: 0;
  padding: 0;
}

header, footer {
  color: var(--text1);
}

p {
  max-inline-size: var(--size-content-3);
  line-height: var(--font-lineheight-2);  
}

h1 {
  font-size: var(--font-size-fluid-3);
}

h2 {
  font-size: var(--font-size-fluid-2);
}

h3 {
  font-size: var(--font-size-fluid-1);
}

button {
  font-size: var(--font-size-fluid-1);
}
button[aria-pressed="true"]::before {
  content: "[";
  color: var(--accent);
}
button[aria-pressed="true"]::after {
  content: "]";
  color: var(--accent);
}