:root {
  --font-sans: "Roboto Flex", Roboto, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --brand-hue: 200;
  --brand-saturation: 66%;
  --brand-lightness: 17%;
  --logo-blue: #fff;
  --logo-green: #fff;
  --accent: hsl(182, 49%, 56%);
  --brand: hsl(
    var(--brand-hue),
    var(--brand-saturation),
    var(--brand-saturation)
  );
  --blue: hsl(200, 66%, 17%);
  --gray: hsl(200, calc(66%/1.25), 14%);

}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

html,
body {
  color-scheme: dark light;
  width: 100vw;
  height: 100vh;
  background: var(--surface1);
  color: var(--text1);
  font-family: var(--font-sans);
  font-size: var(--font-size-fluid-1);
  margin: 0;
  padding: 0;
}

header,
footer {
  color: var(--text1);
}

p {
  line-height: var(--font-lineheight-2);
}

h1 {
  font-size: var(--font-size-fluid-3);
}

h2 {
  font-size: var(--font-size-fluid-2);
}

h3 {
  font-size: var(--font-size-fluid-1);
}

button,
input,
select,
option {
  font-size: var(--font-size-fluid-1);
}

.symbol {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 40;
}

button.symbol {
  --size: 2rem;

  background: none;
  border: none;
  padding: 0;
  color: var(--accent);

  inline-size: var(--size);
  block-size: var(--size);
  aspect-ratio: 1;
  border-radius: 50%;

  cursor: pointer;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  outline-offset: 5px;
}

:root:not([color-scheme]) {
  /* Use blue theme-replica when theme is not set 
    => makes site look nice without JavaScript :) */
  --text1: hsl(var(--brand-hue) 15% 75%);
  --text2: hsl(var(--brand-hue) 10% 61%);
  --surface1: hsl(
    var(--brand-hue) var(--brand-saturation) var(--brand-lightness)
  );
  --surface2: hsl(200, 40%, 26%);
  --surface3: hsl(200, 40%, 33%);
  --surface4: hsl(200, 40%, 40%);
  --surface-shadow: var(--brand-hue) 30% 13%;
  --shadow-strength: 0.2;
  --link: hsl(182, 49%, 56%);
  --logo-wave-1: #005392;
  --logo-wave-0: #00a2b2;
  --error: red;
}


/** START ARTICLE **/

.article {
  padding: var(--size-4);
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.article-header {
  position: relative;
  border-radius: var(--radius-2);
}

.article-header h1 {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: var(--text1);
  font-size: var(--font-size-fluid-3);
  
}

.article-header-backdrop {
  background-color: var(--surface1);
}

.article-header img {
  width: 100%;
}

.article-content {
  font-size: var(--font-size-1);
  padding: var(--size-4);
  background: var(--surface2);
  border-radius: var(--radius-2);
  margin-top: 1rem;
}

.article-content p {
  margin: 1rem 0;
}

.article-content p:first-child {
  margin-top: 0;
}

.article-content p:last-child {
  margin-bottom: 0;
}

/** END ARTICLE **/