:root {
  --font-sans: "Roboto Flex", Roboto, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --brand-hue: 200;
  --brand-saturation: 66%;
  --brand-lightness: 17%;
  --logo-blue: #fff;
  --logo-green: #fff;
  --accent: hsl(182, 49%, 56%);
  --brand: hsl(
    var(--brand-hue),
    var(--brand-saturation),
    var(--brand-saturation)
  );
  --blue: hsl(200, 66%, 17%);
  --gray: hsl(200, calc(66%/1.25), 14%);
  --dark: hsl(
    var(--brand-hue)
    calc(var(--brand-saturation) / 2)
    calc(var(--brand-lightness) / 1.5)
  );

  --size: 48px;
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

html,
body {
  color-scheme: dark light;
  /* width: 99vw; */
  min-height: 100vh;
  background: var(--surface1);
  color: var(--text1);
  font-family: var(--font-sans);
  font-size: var(--font-size-fluid-1);
  margin: 0;
  padding: 0;
}

menu {
  display: block;
  list-style-type: disc;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}
header,
footer {
  color: var(--text1);
}

p {
  line-height: var(--font-lineheight-2);
}

h1 {
  font-size: var(--font-size-fluid-3);
}

h2 {
  font-size: var(--font-size-fluid-2);
}

h3 {
  font-size: var(--font-size-fluid-1);
}

button,
input,
select,
option {
  font-size: var(--font-size-fluid-1);
}


.icon {
  background: none;
  border: none;
  padding: 0;
  
  inline-size: var(--size);
  block-size: var(--size);
  aspect-ratio: 1;
  border-radius: 50%;

  cursor: pointer;
  touch-action: manipulation;
  outline-offset: 5px;

  color: var(--text2);
  fill: var(--text2); 
}

.icon:hover {
  fill:var(--accent);
}

.target {
  min-height: 2rem;
  min-width: 2rem;
  margin: var(--size-1);
  display: inline-flex;
  white-space: nowrap;
  font-size: var(--font-size-fluid-1);
  
  /* padding-left: var(--size-6);
  padding-right: var(--size-6);
  padding-top: var(--size-2);
  padding-bottom: var(--size-2); */

  text-align: center;
  justify-content: center;
  align-items: center;
  /* transition: border-color .5s var(--ease-2) 1s; */
}

.ellipsis {
  maxLines: "1";
  overflow: "hidden";
  whiteSpace: "nowrap";
  textOverflow: "ellipsis";
}

.limit-lines {
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 4.5rem;
  line-height: 1rem;
}

.line-clamp3 {
  display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical; 
   overflow: hidden;
}

dialog {
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-6); 
}

dialog[color-scheme] {
  background: var(--surface0);
}

dialog::backdrop {
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}
html:has(dialog[open]) {
  overflow: hidden;
}