.home-section {
  position: relative;
  width: 100%;
  display: flex;
  background: var(--surface2);
  border-radius: var(--radius-2);
  margin: 1rem 0;
}

.home-section-reversed {
  flex-direction: row-reverse;
}

.section-content {
  width: 50%;
  display: grid;
  place-content: center;
  padding: var(--size-8);
  grid-gap: 1rem;
}

.section-content h2 {
  font-weight: var(--font-weight-8);
}

.section-content p {
  font-size: var(--font-size-2);
}

.section-image {
  width: 50%;
}

.section-image-fullwidth {
  width: 100%;
  position: absolute;
}
