:root .dark-theme {
  --primary-bg: #0f364a;
  --primary-link: #57c3c6;
  --primary-link-hover: #ffffff;
  --primary-link-visited: #b3b3b3;
  --section-bg: rgba(255, 255, 255, 0.1);
}

:root .light-theme {
  --primary-bg: #ffffff;
  --primary-link: #36647d;
  --primary-hover: #3a9c9e;
  --primary-link-visited: #757575;
  --section-bg: rgba(26, 92, 122, 0.06);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background: var(--primary-bg);
  font-family: "Roboto Flex", sans-serif;
}
/* * {
  box-sizing: border-box;
  margin: 0;
}

html {
  block-size: 100%;
  background-color: var(--surface1);
  color: var(--text1);
}

body {
  min-block-size: 100%;
  font-family: system-ui, sans-serif;
  padding: 5vmax;
  display: grid;
  place-content: center;
  gap: 5vmax;
} 

p {
  max-inline-size: 35ch;
  font-size: 1.25rem;
  line-height: 1.5;
}

*/