:root {
  --sm-space: 1rem;
  --md-space: 2rem;
  --min-halbum-size: 140px;
  --max-halbum-size: 480px;
}

.halbum-image {
  width: clamp(var(--min-halbum-size), 20vw, var(--max-halbum-size));
  min-width: var(--min-halbum-size);
}

.halbum-image img {
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: var(--radius-2);
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
}

.halbum-image img:hover {
  transform: scale(1.05);
}

.halbum-image a {
  /*font-size: var(--font-size-fluid-1  );*/
  text-align: center;
}

.halbum-image p {
  margin-top: 0.5rem;
}
